{% extends 'base.html.twig' %}


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
        <meta name="keywords" content="RunSport, chaussure, montre, course a pied, running, convertisseur, allure, vente">       
        <meta name="description" content="Découvrez la meilleure sélection de chaussures et montres de running chez RunSport.
            Parcourez notre collection pour optimiser votre entraînement et atteindre vos objectifs de course.">
        <title>RunSport - Chaussures et Montres de Running</title>
{% endblock %}

{% block body %}


         
    <div {{ react_component('header')}}></div>
    <div {{ react_component('home')}}></div>
    <div {{ react_component('footer')}}></div>



    
    {% for type, messages in app.flashes %}
    <div class="alert alert-{{ type }}">
        {% for message in messages %}
            {{ message|raw }}
        {% endfor %}
    </div>
{% endfor %}




  
{% endblock %}
