{% extends 'base.html.twig' %}

{% block body %}


         
    <div {{ react_component('header')}}></div>
    <div {{ react_component('home')}}></div>
    <div {{ react_component('footer')}}></div>



    
    {% for type, messages in app.flashes %}
    <div class="alert alert-{{ type }}">
        {% for message in messages %}
            {{ message|raw }}
        {% endfor %}
    </div>
{% endfor %}




  
{% endblock %}
