{% extends 'base.html.twig' %}


{% block body %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

<p>
    <form class='formLogin' action="{{ path('app_login') }}" method="post">
        <label  for="username">Email:</label>
        <input class='inputLogin' type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Password:</label>
        <input class='inputLogin' type="password" id="password" name="_password">

        <input class='inputLogin' type="hidden" name="_target_path" value="/home">

        <button class="boutonLogin" type="submit">Login</button>
    </form>
    <form action="{{ path('app_register') }}" method="get">
            <button type="submit" class="boutonRegister">Register</button>
    </form>
</p>
<div {{ react_component('footer')}}></div>

{% endblock %}


