{% extends 'base.html.twig' %}

{% block title %}Résultat de la conversion{% endblock %}

{% block body %}
    <h1>Résultat de la conversion</h1>
    <p>Distance : {{ distance }} km</p>
    <p>Temps : {{ temps }} heure</p>
    <p>Allure : {{ allure }} min/km</p>
    <p>Vitesse : {{ vitesse }} km/h</p>
    <a href="{{ path('app_convertisseur4') }}">Retourner au formulaire</a>
{% endblock %}
